@model FacilitiesViewmodel_Create
@{
    ViewData["Title"] = "Create";
}

<div class="container m-1">
    <div class="row">
        <div class="col">
            <form asp-area="Admin" asp-controller="Facilities" asp-action="Create" method="post">
                <div class="row">
                    <div class="col-3">
                        <span>ورود اطلاعات</span>
                    </div>
                    <div class="col-4">
                        <span>دسته بندی امکانات</span>
                        <select asp-for="@Model.Facilities.CategoryFacilityId">
                            <option value="0">انتخاب کنید...</option>                        
                            @{

                                foreach (var item in Model.CategoryFacilities)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <span>امکانات</span>
                        <input type="text" asp-for="@Model.Facilities.Name" />
                    </div>
                    <div class="col-2">
                        <input type="submit" value="ثبت اطلاعات" />
                    </div>
                    <div class="col-2">
                        <a asp-area="Admin" asp-controller="Facilities" asp-action="Index">
                            بازگشت
                        </a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>


