@model SendDataToView<List<FacilitiesViewmodel_Entity>>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="Facilities" asp-action="Create">
                ثبت امکانات جدید
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead >
                <tr>

                    <th>
                        <span>ردیف</span>
                    </th>
                    <th>
                        <span>دسته بندی امکانات</span>
                    </th>
                    <th>
                        <span>مدل امکانات</span>
                    </th>

                    <th>
                        <span>عملیات</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                    foreach (var item in Model.Entity)
                    {

                        <tr>
                            <td>
                                @index
                            </td>
                            <td>
                                @item.CategeryFacilityName
                            </td>
                            <td>
                                @item.FacilityName
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="Facilities" asp-action="Delete" asp-route-id="@item.FacilityId">
                                    حذف
                                </a>
                                <a asp-area="Admin" asp-controller="Facilities" asp-action="Edit" asp-route-id="@item.FacilityId">
                                    ویرایش
                                </a>
                            </td>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>




