@model SendDataToView<List<HomeFileViewmodel>>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-left mt-5">
            <a asp-area="User" asp-controller="HomeFile" asp-action="Create">
                ثبت فایل جدید
            </a>
        </div>
        <div class="col-12 text-left mt-2">
            <span>جست و جو :</span>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-2 mx-2">
                    <label class="d-block fw-bold">شناسه فایل</label>
                    <input type="text" />
                </div>
                <div class="col-2">

                    <label class="d-block fw-bold"> از متراژ</label>
                    <input type="text" placeholder="متر مربع" />

                </div>
                <div class="col-2 mx-2">
                    <label class="d-block fw-bold"> تا متراژ</label>
                    <input type="text" placeholder="متر مریع" />
                </div>
                <div class="col-2">
                    <label class="d-block fw-bold"> از قیمت</label>
                    <input type="text" placeholder="تومان" />
                </div>
                <div class="col-2 mx-2">
                    <label class="d-block fw-bold"> تا قیمت </label>
                    <input type="text" placeholder="تومان" />
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-5 mx-2">
        
        <div class="col-4 border border-warning">
            <div class="m-1">
                <div>
                    <img src="~/dist/img/user1-128x128.jpg" />
                </div>
                <ul class="list-group">
                    <li>
                        <label>قیمت</label>
                        <span>200</span>
                    </li>
                    <li>
                        <label>نوع خونه</label>
                        <span>اپارتمان</span>
                    </li>
                    <li>
                        <label>متراژ</label>
                        <span>300 متر</span>
                    </li>
                    <li>
                        <label>اسنان</label>
                        <label>شهر</label>
                        <label>ناحیه</label>
                        <span>2</span>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-4">
                    <a asp-area="User" asp-controller="HomeFile" asp-action="Detail">
                        جزئیات
                    </a>
                </div>
                <div class="col-4">
                    <a asp-area="User" asp-controller="HomeFile" asp-action="Delete">
                        حذف
                    </a>
                </div>
                <div class="col-4">
                    <a asp-area="User" asp-controller="HomeFile" asp-action="Edit">
                        ویرایش
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
