@model IEnumerable<BalconyPlace>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="BalconyPlace" asp-action="Create">
                ثبت بالکن جدید
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        <span>ردیف</span>
                    </th>
                    <th>
                        <span> بالکن</span>
                    </th>
                    <th>
                        <span>عملیات</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        نوع بالکن
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="BalconyPlace" asp-action="Delete">
                            حذف
                        </a>
                        <a asp-area="Admin" asp-controller="BalconyPlace" asp-action="Edit">
                            ویرایش
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


