@model Region
@{
    ViewData["Title"] = "Edit";
}

<div class="container m-1">
    <div class="row">
        <div class="col">
            <form asp-area="Admin" asp-controller="Region" asp-action="Edit">
                <div class="row">
                    <div class="col-3">
                        <span>
                            ویرایش نام :
                        </span>
                    </div>
                    <div class="col-3">
                        <input type="text" asp-for="@Model.Name" />
                    </div>

                    <div class="col-3">
                        <input type="submit" value="ثبت تغییرات" />
                    </div>
                    <div class="col-3">
                        <a asp-area="Admin" asp-controller="Region" asp-action="Index">
                            بازگشت
                        </a>
                    </div>

                </div>
                
            </form>
        </div>
    </div>
</div>


