@model RoleViewmodel
@{
    ViewData["Title"] = "Create";
}

<div class="container m-1">
    <div class="row">
        <div class="col">
            <form asp-area="Admin" asp-controller="ManagedRole" asp-action="Create" method="post">
                <div class="row">
                    <div class="col-4">
                        <span>ورود نقش</span>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="Name" />
                    </div>
                    <div class="col-4">
                        <input type="submit" value="ثبت نقش" />
                        <a asp-area="Admin" asp-controller="ManagedRole" asp-action="Index">
                            بازگشت
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


