@model SendDataToView<IQueryable<Neighbourhood>>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="Neighbourhood" asp-action="Create">
                ثبت همسایه جدید
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        <span>ردیف</span>
                    </th>
                    <th>
                        <span> همسایه</span>
                    </th>
                    <th>
                        <span>عملیات</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                    foreach (var item in Model.Entity)
                    {
                        <tr>
                            <td>
                                @index
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="Neighbourhood" asp-action="Delete" asp-route-Id="@item.Id">
                                    حذف
                                </a>
                                <a asp-area="Admin" asp-controller="Neighbourhood" asp-action="Edit" asp-route-Id="@item.Id">
                                    ویرایش
                                </a>
                            </td>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>



