@model SendDataToView<IQueryable<UserViewmodel>>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <a asp-area="Admin" asp-controller="ManagedUser" asp-action="Register">ثبت کاربر جدید</a>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <td>ردیف</td>
                    <td>نام و نام خانوادگی</td>
                    <td>ایمیل</td>
                    <td>تلفن</td>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                    foreach (var item in Model.Entity)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@item.FullName</td>
                            <td>
                               @item.Email
                            </td>
                            <td>
                               @item.Phone
                            </td>
                           
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-12"></div>
</div>
