
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <a asp-area="Admin" asp-controller="ManagedUser" asp-action="Register">ثبت کاربر جدید</a>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <td>ردیف</td>
                    <td>نام و نام خانوادگی</td>
                    <td>ایمیل</td>
                    <td>تلفن</td>
                    <td>عملیات</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12"></div>
</div>
