@model City
@{
    ViewData["Title"] = "Delete";
}

<div class="container m-1">
    <div class="row">
        <div class="col">
            <form asp-area="Admin" asp-controller="City" asp-action="Delete" method="post">
                <div class="row">
                    <div class="col-12">
                        ایا مایل به حذف شهر هستید؟
                    </div>
                </div>
                <div class="col-12">
                    <input type="submit" value="بله" />
                    <a asp-area="Admin" asp-controller="City" asp-action="Index">
                        خیر
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



