@model CategoryFacilities
@{
    ViewData["Title"] = "Create";
}

<div class="col">
    <form asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Create" method="post">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-2">
                <span>ورود اطلاعات</span>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <input type="text" asp-for="Name" class="inputText" />
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <input type="submit" value="ثبت اطلاعات" />
            </div>

        </div>
        <div class="row">
            <div class="col-12 text-right text-sm-center">
                <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Index">
                    بازگشت
                </a>
            </div>
        </div>
    </form>
</div>

