@model IEnumerable<CategoryFacilities>
@{
    ViewData["Title"] = "Index";
}

<div class="container categoryIndex">
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Create" class="btnReg">
                ثبت طبقه بندی امکانات جدید
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <span>ردیف</span>
                    </th>
                    <th>
                        <span> نام دسته بندی</span>
                    </th>
                    <th>
                        <span>عملیات</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        تهویه هوا
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Delete" class="btnDele">
                            حذف
                        </a>
                        <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Edit" class="btnEdit">
                            ویرایش
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




