@model SendDataToView<IQueryable<CategoryFacilities>>
@{
    ViewData["Title"] = "Index";
}

<div class="container categoryIndex">
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Create" class="btnReg">
                ثبت طبقه بندی امکانات جدید
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <span>ردیف</span>
                    </th>
                    <th>
                        <span> نام دسته بندی</span>
                    </th>
                    <th>
                        <span>عملیات</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                    foreach (var item in Model.Entity)
                    {
                        <tr>
                            <td>
                                @index
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Delete" class="btnDele" asp-route-Id="@item.Id">
                                    حذف
                                </a>
                                <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Edit" class="btnEdit" asp-route-Id="@item.Id">
                                    ویرایش
                                </a>
                            </td>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>




