@model Buyer
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <span>ویرایش اطلاعات خریدار</span>
        </div>
        <div class="col-6">
            <a asp-area="User" asp-controller="Buyer" asp-action="Index">
                بازگشت
            </a>
        </div>
    </div>
    <div class="row">

    </div>
</div>
