@model Owner
@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form asp-area="User" asp-controller="Owner" asp-action="Delete" method="post">
                <div class="row">
                    <div class="col-12">
                        ایا مایل به حذف مالک  "@Model.FullName" هستید؟
                    </div>
                </div>
                <div class="col-12">
                    <input type="submit" value="بله" />
                    <a asp-area="User" asp-controller="Owner" asp-action="Index">
                        خیر
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



