@model OwnerViewmodel
@{
    ViewData["Title"] = "Details";
}

<div class="container m-5">
    <div class="row">
        <div class="col">
            <form asp-area="User" asp-controller="Owner" asp-action="Details" method="post">
                <div class="row">
                    <div class="col-6">
                        <label class="d-block fw-bold"> نام خریدار :</label>
                        <label>@Model.FullName</label>
                    </div>
                    <div class="col-6">
                        <label class="d-block fw-bold">تلفن ها : </label>
                        <label>@Model.Tel</label>
                    </div>
                    <div class="col-12 mt-5">
                        <label class="d-block fw-bold"> توضیحات :</label>
                        <label>@Model.Description</label>
                    </div>
                    <div class="col-12 mt-5">
                        <a asp-area="User" asp-controller="Owner" asp-action="Index">
                            بازگشت
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



