@model Owner
@{
    ViewData["Title"] = "Edit";
}

<div class="container m-4">
    <div class="row">
        <div class="col-10">
            <form asp-area="User" asp-controller="Owner" asp-action="Edit" asp-route-Id=""> 
                <div class="row">
                    <div class="col-6">
                        <label class="d-block">
                            ویرایش نام:
                        </label>
                        <input type="text" asp-for="@Model.FullName"/>
                    </div>
                    <div class="col-6">
                        <label class="d-block">
                            ویرایش توضیحات
                        </label>
                        <input type="text" asp-for="@Model.Descrption"/>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        <input type="submit" value="ثبت تغییرات" />
                    </div>
                    <div class="col-6">
                        <a asp-area="User" asp-controller="Owner" asp-action="Index">
                            بازگشت
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>