@model SendDataToView<IQueryable<Owner>>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 my-3">
            <a asp-area="User" asp-controller="Owner" asp-action="Create">
                ثبت مالک جدید
            </a>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>ردیف</span>
                        </th>
                        <th>
                            <span>نام مالک</span>
                        </th>
                        @*<th>
                            <span>تلفن ها</span>
                        </th>*@
                        <th>
                            <span>توضیحات</span>
                        </th>
                        <th>
                            عملیات
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    @{
                        int index = 1;
                        foreach (var item in Model.Entity)
                        {

                            <tr>
                                <td>
                                    @index
                                </td>
                                
                                <td>
                                    <span>@item.FullName</span>
                                </td>
                                <td>
                                    <span>@item.Descrption</span>
                                </td>
                                <td>
                                    <a asp-area="User" asp-controller="Owner" asp-action="Delete">
                                        حذف
                                    </a>
                                    <a asp-area="User" asp-controller="Owner" asp-action="Edit">
                                        ویرایش
                                    </a>
                                    <a asp-area="User" asp-controller="Owner" asp-action="Detail">
                                        جزئیات
                                    </a>
                                    <a asp-area="User" asp-controller="Owner" asp-action="CreateOwnerTel">
                                        افزودن تلفن
                                    </a>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



