.btnRegister {
  padding: 9px 15px;
  background-color: #4bc8d6;
  border-radius: 8px;
  color: #333;
  font-weight: bold;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.13);
  text-decoration: none !important;
  transition: all .5s; }
  .btnRegister:hover {
    background-color: #08138c;
    color: #fff; }
