@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/css/userLayout.min.css">
</head>
<body class="">
    <header class="container-fluid bg-light">
        <div class="row">

            <div class="col-2 logo">
                <a href="#"><img src="~/image/logo.png" /></a>
            </div>
            <div class="col-8 space"></div>

            <div class="col-2">
                <div class="dropdown persInfo">
                    <button class="btn dropdown-toggle btnPer" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        علی دایی
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">پیام ها</a></li>
                        <li><a class="dropdown-item" href="#">حساب کاربری</a></li>
                        <li><a class="dropdown-item" href="#">خروج</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <content class="w-100 h-100 pt-4">
        <div class="content container-fluid">
            <div class="row pt-4">
                <div class="col-2 pt-5 ps-0 mainMenu">
                    <div class="sideMenu m-0 bg-light">
                        <a asp-area="Admin" asp-controller="CategoryFacilities" asp-action="Index">دسته بندی امکانات</a>
                    </div>
                </div>
                <div class="col-10 pt-5">

                    @RenderBody()
                </div>
            </div>
        </div>
    </content>

    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/popper/popper.js"></script>
</body>
</html>
