<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- bootstrap rtl -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/css/userLayout.min.css">
    <link rel="stylesheet" href="~/css/defaultStyle.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/popper/popper.js"></script>
</body>
</html>
