@model RealStateViewmodel
@{
    ViewData["Title"] = "Create";
}

<div class="container m-5">
    <div class="row">
        <div class="col">
            <form asp-area="User" asp-controller="RealEstate" asp-action="Create" method="post">
                <div class="row">
                    <div class="col-6">
                        <label class="d-block fw-bold mb-2">نام مشاورین املاک : </label>
                        <input type="text" asp-for="@Model.Name" />
                    </div>
                    <div class="col-6">
                        <label class="d-block fw-bold mb-2">شماره ثبت :</label>
                        <input type="text" asp-for="@Model.RegistrationNumber" />
                    </div>
                    <div class="col-12 mt-3">
                        <label class="d-block mb-2 fw-bold">توضیحات :</label>
                        <textarea rows="5" cols="50" type="text" asp-for="@Model.Description"></textarea>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="submit" value="ثبت اطلاعات" />
                        <a asp-area="User" asp-controller="RealEstate" asp-action="Index">
                            بازگشت
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
