@model RealEstate
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <lable>
                نام املاک
            </lable>
            <input type="text" />
        </div>
        <div class="col-4">
            <lable>
                شناسه ثبت 
            </lable>
            <input type="text" />
        </div>

        <div class="col-4"></div>
        <div class="col-12">
            <label class="d-block">توضیحات</label>
            <textarea placeholder="توضیحات مربوط به املاک" rows="4" cols="50">

            </textarea>
        </div>
        <div class="col-12">
            <lable class="d-block">
                تلفن
            </lable>
            <textarea  rows="1" cols="20">
                  
            </textarea>
        </div>
        <div class="col-12">
            <lable class="d-block">
                آدرس
            </lable>
            <textarea placeholder="آدرس مربوط به املاک" rows="4" cols="50">
                  
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button>ثبت املاک</button>
        </div>
        <div class="col-12">
            <a asp-area="User" asp-controller="RealEstate" asp-action="Index">
                بازگشت
            </a>
        </div>
    </div>
</div>

